.inline-elements {
    padding: 15px;
    font-size: 2rem;
}
body, html {
    margin: 0;
    padding: 0;
  }
  h3{
    margin: 1rem;
  }


nav{
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
    min-height: 5vh;
    font-size: 2rem;
}
 div img {
    display: inline-block;
    max-width: 100%;
    padding: .5rem;
} 

img {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    img {
      max-width: 100%;
      height: auto;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    img {
      max-width: 80%; 
      height: auto;
    }
  }
  @media only screen and (min-width: 901px) {
    img {
      max-width: 60%;
      height: auto; 
    }
  }



h1 {
    font-size: 3rem; 
    color: brown;
    text-align: center;
  }

