<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>

<body> 
    <nav class="inline-elements">
       <a href="../index.html" class="link2">Home</a>
       <a href="../index.html" class="link2">Back</a>
    </nav>

   <div class="para">
      <h3>About Responsive Website</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, vel commodi! Culpa deserunt cum necessitatibus optio, animi sit nulla debitis soluta, vel reiciendis excepturi dolorem, dignissimos commodi. Harum, earum optio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod aperiam eaque impedit obcaecati aut corrupti tempora maiores quas praesentium, quos tenetur perferendis, ab nisi, blanditiis voluptas minima et officiis magnam?</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil delectus et perspiciatis odit natus veritatis, nesciunt minima temporibus facere minus, nulla, a laboriosam ad error deserunt quas! Earum, nobis corporis.</p>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore excepturi voluptate velit pariatur autem eius nobis eveniet, debitis suscipit voluptates incidunt iusto odio numquam provident ipsum ad dolorem est quo.</p>
   </div>
</body>
</html>